{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ form.action }}" method="{{ form.method.value }}">
        {% for input_type,input_fields in form.fields %}
            {% for field in input_fields %}
                {% include '_types/'~input_type~'.html.twig' with { field: field } %}
            {% endfor %}
        {% endfor %}
    </form>
{% endblock %}
